.article-container {
  text-align: center;
}

.foto-perfil {
  width: 150px;
  padding: 5px;
}

.foto-perfil:hover {
  opacity: 0.6;
}


section {
  padding: 45px 30px;
  margin: auto;
  width: 960px;
  line-height: 20PX;
  gap: 50px;
}


h1 {
  font-size: 1.20em;
  padding: 5px 0;
  line-height: 30PX;  
}

h2 {
  font-size: 1.25em;
  padding: 2px 0;
}

h1 {
  color: #070711;
  padding: 2px 0;
}

h2 {
  color: #362041;
  padding: 2px 0;
}